/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/memes.iml
/.idea/.gitignore
/logs/scheduler/2021-10-22/dags.py.log
/logs/dag_processor_manager/dag_processor_manager.log
dags/__pycache__/
logs/scheduler/
neo4j/data/
*.json
*.csv
.env
.venv/
logs/enrichment_dag/
logs/filter_dag/
logs/postgres_dag/
logs/*